@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


h1{
    font-family: 'Oswald', sans-serif;
}

h2{
    font-family: 'Edu TAS Beginner', cursive;
}
p{
    font-family: 'Dancing Script', cursive;
}